@tailwind base;
@tailwind utilities;
@tailwind components;

@import "./variables";
@import "./custom/index.scss";

body {
  @apply m-0 text-base overflow-x-hidden;

  color: $text-primary;
  background: $bg-primary;
  font-family: "Poppins", sans-serif;
}

* {
  @apply scroll-smooth;
  @extend .invisible-scroll;
}

a {
  @apply cursor-pointer;
}
