@import "/src/styles/variables";

#chat-side-menu {
  @apply h-full flex flex-col;
  background: $bg-secondary;

  > article {
    @apply px-6 pt-12 h-full overflow-y-auto;
  }

  > footer {
    @apply p-2;
    border-top: 1px solid $bg-primary;

    > button {
      @apply w-full flex gap-2 items-center rounded-xl p-4 duration-300;
      transition-property: background;

      &:hover {
        @apply shadow-md;
        background: $bg-primary;
      }

      > i,
      > svg {
        @apply text-lg;
      }
    }
  }
}

.menu-button-item {
  @apply w-[259px];
}
