@import "/src/styles/variables";

#history {
  > h1 {
    @apply text-lg mb-6;
  }

  > section {
    @apply grid gap-2 grid-cols-5 items-stretch;

    > article {
      @apply text-center flex items-center justify-center p-6 rounded-xl cursor-pointer transition-all duration-500;
      background: $bg-secondary;

      &:hover {
        color: $primary;
        transform: scale(1.02);
      }
    }
  }
}
